{% extends "base.html" %}

{% load widget_tweaks %}
{% block title %}url-s: open{% endblock title %}
{% block content %}
  <div class="text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Open Short Url </h1>
      <div class="col-lg-6 mx-auto">
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
                <li{% if message.tags == "error" %} class="text-danger"{% endif %}>
                  {{ message }}
                </li>
              {% endfor %}
          </ul>
        {% endif %}
        <form method="post">
          {% csrf_token %}
          <div class="row d-flex justify-content-center">
            <div class="col">
              <input type="text" class="form-control" id="short_url" name="short_url" placeholder="sasfatbgass"/>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-outline-info form-control">Open short url</button>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>
{% endblock content %}